/*
* {
    margin: 0;
    padding: 0;
    border: none;
}
*/

input[type=number] {
    width: 50px;
    text-align: right;
}

#formResult > div {
    clear: both;
    border: 1px solid #000;
}

#formResult > div br {
    clear: both;
}

#formResult dt, #formResult dd {
    float: left;
}

#formResult dt {
    clear: left;
}