<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <header>
        <h1>Conference Registration</h1>
    </header>

    <section id="mainContainer"></section>

    <script type="text/template" id="formTemplate">
        <form id="conferenceForm" action="#/save" method="post">

            <fieldset id="personalData">
                <legend>Personal data</legend>

                <label for="f_firstName">First name</label>
                <input type="text" id="f_firstName" name="firstName" value="<%- data.firstName %>" placeholder="First name" required="required" />
                <br />

                <label for="f_lastName">Last name</label>
                <input type="text" id="f_lastName" name="lastName" value="<%- data.lastName %>" placeholder="Last name" required="required" />
                <br />

                <label for="f_phone">Phone number</label>
                <input type="text" id="f_phone" name="phone" value="<%- data.phone %>" placeholder="Phone number" required="required" />
                <br />

                <label for="f_occupations">I am </label>
                <select id="f_occupations" name="occupations[]" multiple="multiple" size="3">
                    <% for(var i = 0; i < occupations.length; i++) { %>
                        <option value="<%- occupations[i] %>"<%= data.occupations.indexOf(occupations[i]) > -1 ? ' selected="selected"' : '' %>><%- occupations[i] %></option>
                    <% } %>
                </select>
                <br />

                <input type="checkbox" id="f_hasCard" name="hasCard" value="1" <%= data.hasCard ? 'checked="checked"' : '' %> />
                <label for="f_hasCard">I have habitual client card</label>

                <div id="cardNumber" <%= data.hasCard ? '' : 'style="display:none;"' %>>
                    <label for="f_cardNumber">Card number</label>
                    <input type="text" id="f_cardNumber" name="cardNumber" value="" placeholder="Card number" />
                </div>
            </fieldset>

            <fieldset id="additionalPersonsContainer">
                <legend>Additional persons</legend>

                <div id="additionalPersons"></div>

                <button id="addPerson">add person</button>
            </fieldset>

            <fieldset id="courses">
                <legend>Courses</legend>

                <table>
                    <tr>
                        <th>&nbsp;</th>
                        <% for(var i = 0; i < coursesCount; i++) { %>
                            <th>course #<%= i + 1 %></th>
                        <% } %>
                    </tr>
                    <% for(var i = 0; i < daysCount; i++) { %>
                        <tr>
                            <th>day #<%= i + 1 %></th>
                            <% for(var j = 0; j < coursesCount; j++) { %>
                                <th><input type="text" id="f_course_<%= i %>_<%= j %>" name="courses[<%= i %>][<%= j %>]" value="<%- data.courses && data.courses[i] ? data.courses[i][j] : '' %>" maxlength="1" placeholder="priority (1-3)" /></th>
                            <% } %>
                        </tr>
                    <% } %>
                </table>
            </fieldset>

            <fieldset id="additionalResources">
                <legend>Additional resources</legend>

                <% resources.forEach(function(res) { %>
                    <input type="text" class="number" id="f_ar_<%= res %>" name="resources[<%= res %>]" value="<%- data.resources ? data.resources[res] : '' %>" placeholder="0" />
                    <label for="f_ar_<%= res %>"><%= res %>(s)</label>
                    <br />
                <% }); %>
            </fieldset>

            <fieldset class="submit">
                <input type="submit" id="f_submit" value="register" />
            </fieldset>
        </form>
    </script>

    <script type="text/template" id="personTemplate">
        <label for="f_<%= data.id %>_firstName">First name</label>
        <input type="text" class="person-firstName" name="persons[<%= data.id %>][firstName]" value="<%- data.get('firstName') %>" placeholder="First name" />

        <label for="f_<%= data.id %>_lastName">Last name</label>
        <input type="text" class="person-lastName" name="persons[<%= data.id %>][lastName]" value="<%- data.get('lastName') %>" placeholder="Last name" />

        <label for="f_<%= data.id %>_age">Age</label>
        <input type="text" class="person-age" name="persons[<%= data.id %>][age]" value="<%- data.get('age') %>" placeholder="Age" />

        <button class="removePerson">remove this person</button>
    </script>

    <script type="text/template" id="resultTemplate">
        <div id="formResult">
            <div>
                <h3>Personal data</h3>
                <dl>
                    <dt>First name</dt><dd><%- data.firstName %></dd>
                    <dt>Last name</dt><dd><%- data.lastName %></dd>
                    <dt>Phone number</dt><dd><%- data.phone %></dd>
                    <% if(data.occupations) { %>
                        <dt>Occupation</dt><dd><%- data.occupations.join(', ') %></dd>
                    <% } %>
                    <% if(data.hasCard) { %>
                        <dt>Card number</dt><dd><%- data.cardNumber %></dd>
                    <% } %>
                </dl>
                <br />
            </div>

            <% if(data.persons) { %>
                <div>
                    <h3>Additional persons</h3>
                    <dl>
                        <% for(var i = 0; i < data.persons.length; i++) { %>
                            <% var person = data.persons[i]; %>
                            <dt>#<%- i + 1 %></dt>
                            <dd>
                                <dl>
                                    <dt>First name</dt><dd><%- person.firstName %></dd>
                                    <dt>Last name</dt><dd><%- person.lastName %></dd>
                                    <dt>Age</dt><dd><%- person.age %> years</dd>
                                </dl>
                            </dd>
                        <% } %>
                    </dl>
                    <br />
                </div>
            <% } %>

            <div>
                <h3>Courses</h3>
                <table>
                    <tr>
                        <th>&nbsp;</th>
                        <% for(var i = 0; i < data.courses[0].length; i++) { %>
                            <th>course #<%= i + 1 %></th>
                        <% } %>
                    </tr>
                    <% for(var i = 0; i < data.courses.length; i++) { %>
                        <tr>
                            <th>day #<%= i + 1 %></th>
                            <% for(var j = 0; j < data.courses[i].length; j++) { %>
                                <th><%- data.courses && data.courses[i] ? data.courses[i][j] : '' %></th>
                            <% } %>
                        </tr>
                    <% } %>
                </table>
                <br />
            </div>

            <% if(data.resources) { %>
                <div>
                    <h3>Additional resources</h3>
                    <dl>
                        <% Object.keys(data.resources).forEach(function(key) { %>
                            <dt><%- key %></dt>
                            <dd><%- data.resources[key] %></dd>
                        <% }); %>
                    </dl>
                    <br />
                </div>
            <% } %>

            <button id="showForm">back to form view</button>
        </div>
    </script>

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/main.js"></script>
</body>
</html>