<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Backbone Form</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
    <header>
        <h1>Conference Registration</h1>
    </header>

    <section id="mainContainer"></section>

    <script type="text/template" id="personTemplate">
        <label for="f_<%= data.id %>_firstName">First name</label>
        <input type="text" class="person-firstName" name="persons[<%= data.id %>][firstName]" value="<%- data.get('firstName') %>" placeholder="First name" />

        <label for="f_<%= data.id %>_lastName">Last name</label>
        <input type="text" class="person-lastName" name="persons[<%= data.id %>][lastName]" value="<%- data.get('lastName') %>" placeholder="Last name" />

        <label for="f_<%= data.id %>_age">Age</label>
        <input type="text" class="person-age" name="persons[<%= data.id %>][age]" value="<%- data.get('age') %>" placeholder="Age" />

        <button class="removePerson">remove this person</button>
    </script>

    <script src="js/jquery-2.0.3.min.js"></script>
    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/require.js"></script>
    <script src="js/main.js"></script>
</body>
</html>